* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common button style */
body {
  background-color: antiquewhite;
}
.common-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}
/* navigation style */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #ffffff;
  height: 80px;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-link-items {
  display: flex;
  list-style: none;
  gap: 16px;
}
.nav-link-items li a {
  text-decoration: none;
  padding: 0 8px;
  color: #575757;
  font-size: 1.2rem;
}
.nav-btn {
  width: 188px;
  height: 48px;
}
/* navigation style end */
/* header section ster */

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.4) 100%),
    url("./assets/banner.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
}
header h1 {
  font-size: 5rem;
  padding-bottom: 30px;
}
header p {
  font-size: 1.15rem;
  font-weight: 200;
  max-width: 680px;
  line-height: 1.6;
  margin: 0 auto 40px auto;
  color: #ffffff;
}
header button {
  margin-top: 100px;
  height: 74px;
  width: 282px;
  padding: 12px;
  font-size: 24px;
}

/* header style end */

/* main section  speaker star style */

.speaker-container {
  background: #e7e9eb;
  padding: 80px 20px;
}
.speaker-header {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}
.speaker-card {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}

.speaker-card .box {
  background: #ffffff;
  border-radius: 15px;
  text-align: start;
}
.speaker-card .box .p1 {
  color: #1d4ed8;
  padding: 5px;
}
.speaker-card .box h3 {
  padding: 5px;
}
.speaker-card .box p {
  padding: 5px;
}
.box img {
  object-fit: cover;
}
/* meet speaker section end */
/* subscription sytle start */
.subscription {
  padding: 80px 20px;
  background: #f4f7fb;
}
.subs-section {
  text-align: center;
  margin-bottom: 25px;
}
.subs-header {
  font-size: 48px;
  margin-bottom: 16px;
}
.subs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.subs-card {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  width: 300px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.subs-container h2 {
  font-size: 60px;
  font-weight: 800;
  margin-top: 15px;
}

.subs-card ul {
  list-style: disc;
  padding: 0;
  padding-left: 15px;
  margin-bottom: 30px;
}
.subs-card ul li {
  margin-bottom: 12px;
  color: #333333;
}
.pro {
  background-color: #0d1b2a;
  color: #ffffff;
  z-index: 10;
}
.pro ul li {
  color: #ffffff;
}
.subs-card hr {
  margin: 15px 0;
}
.card-btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #0d1b2a;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}
.pro-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  cursor: pointer;
}
.subs-card p1 {
  color: #888888;
}
.subs-card .p1-pro {
  color: #93c5fd;
}
/* end of subscribtion style */

/* hackathon section style */
.hackathon {
  padding: 80px 20px;
  background: #f4f7fb;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: #222;
}

.section-header p {
  max-width: 650px;
  margin: auto;
  color: #666;
  line-height: 1.7;
}

.hackathon-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 50px;
}

.card {
  flex: 1 1 300px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 45px;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
  color: #222;
}

.card p {
  color: #666;
}

.rules {
  background: white;
  padding: 40px;
  border-radius: 12px;
}

.rules h3 {
  margin-bottom: 20px;
  color: #222;
}

.rules ul {
  list-style: none;
  margin-bottom: 30px;
}

.rules li {
  margin-bottom: 12px;
  color: #555;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: #2563eb;
  color: white;
  padding: 14px 28px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #1d4ed8;
}

/* footer style */
footer {
  background-color: #0d1b2a;
  color: #ffffff;
  padding: 20px 15px;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}
.footer-container img {
  max-width: 150px;
  height: auto;
}
.footer-box2 {
  display: flex;
  justify-content: end;
  font-size: 32px;
  cursor: pointer;
  text-align: center;
}
.footer-container hr {
  grid-column: span 2;
  width: 100%;
  text-align: center;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}
.footer-box2 span {
  padding: 8px;
}
.footer-box4 {
  display: flex;
  justify-content: end;
  text-align: center;
}
.footer-box4 a {
  text-decoration: none;
  color: #ffffff;
  padding: 12px;
}
